$error-red: #f04124;
#g-recaptcha-row {
	text-align: center;
	.g-recaptcha-wrapper {
		display: inline-block;
	}
	.g-recaptcha {
	}
}
.form-builder {
	padding-bottom: 15px;
	.form-label {
		color: #242424;
		text-align: left;
		// @extend .small-12;
		// @extend .medium-3; 
		// @extend .large-3; 
		// @extend .columns;
	}
	.form-input {
		// @extend .small-12;
		// @extend .medium-9; 
		// @extend .large-9; 
		// @extend .columns;
	}
	select, textarea, input[type=text], input[type=email], input[type=url], input[type=number], input[type=file], div.dummy-input {
		margin-bottom: 0;
	}

	.control-label.required span:after {
	  content: "*";
	}
	.control-label.required span {
	  color: red;
	}
	small.error {
		display: none;
		color: $error-red;
		font-weight:bold;
	}
	// button {
	// 	margin-top: 20px;
	// }
}
// div.form-group {
// 	margin-bottom: 10px;
// }
.form-builder.has-error {
	small.error {
		display: block;

	}
	select, textarea, input[type=text], input[type=email], input[type=url], input[type=number], input[type=file], div.dummy-input {
    border-color: $error-red;
    box-shadow: inset 0 1px 2px rgba($error-red,0.1);
    color: rgba($error-red,0.75);
    background-color:#fef7f6;//rgba($error-red, 0.1);
	}
	div.dummy-input {
		.error {
		}
	}

}

#load-form.hide {
	display: none;
}

#quotation-request-form.init-hide {
	display: none;
}

#show-request-form {
	text-align: center;
	img {
		cursor: pointer;
	}
}

.select2-container {
	margin: 0;
}

div.dummy-input {
	display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #0a0a0a;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    border-radius: 0;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
}
#form-error-msg {
	display: none;
	// @extend .callout;
	// @extend .alert;
	h4 {
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(red, 0.1);
	}
}
#form-error-msg.error {
	display: block;

}
@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
  	.form-builder.zurb {
		.form-label {
			text-align: right;
		}
	}
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }